# Exclude Python Cache
__pycache__/
.ipynb_checkpoints/
.vscode/

# Exclude Vector Databases and Pickles
*.pkl
*.sqlite3
chroma.sqlite3

# Exclude Raw Data and Evidence
Documents/
data/

# Exclude System Generated Outputs
outputs/
*.pdf
*.html